<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental Robot Controllor Interface</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  <script src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
</head>

<menu>
  <header class="header-logo">
      <div class="logo">
        <img src="{{ url_for('serve_image', filename='main_logo.png')}}" alt="Logo" class="logo-img">
        <span class="logo-text">YourBrand</span>
      </div>
      <div class="nav-container">
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="/home">Home</a></li>
            <li><a href="/controllor">Controller</a></li>
            <li><a href="/config">Config</a></li>
            <li><a href="/history" class="active">History</a></li>
            <li><a href="/teams">Teams</a></li>
          </ul>
        </nav>
        <button id="connect-button" class="connected">Connected</button>
      </div>    
  </header>    
</menu>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</html>